/* @override http://www.bravenewcode.com/wp-content/plugins/earth-hour/css/earth-hour.css */

body {
  margin-top: 20px !important;
}

#earth_hour {
  position:fixed;
  top:0px;
  right:0px;
  background:#000;
  opacity: 0.83 !important;
  filter: alpha(opacity=83) !important;
  box-shadow: 1px 1px 3px #000;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px #000;
  -webkit-border-bottom-right-radius: 10px; 
  -webkit-border-bottom-left-radius: 10px;
  -moz-box-shadow: 1px 1px 3px #000;
  -moz-border-radius-bottomleft: 10px; 
  -moz-border-radius-bottomright: 10px;
  color:#c6c6c6;
  width:100%;
  font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size:10px;
  text-align:right;
  border-bottom:1px solid #57565f;
  height:20px;
  line-height:25px;
  z-index:999;
}

#earth_hour #inner {
  padding-top: 1px;
  padding-right: 5px;
}

* html #earth_hour {
  position: absolute;
}

#earth_hour #inner a {
  color: #42b01f;
  text-decoration: none;
  font-weight: normal;
}

#earth_hour a#earth_hour_banner {
  background: url(images/banner-earth.png) no-repeat 3px 2px;
  width: 170px;
  text-align: left;
  font-weight: bold;
  color: #c6c6c6;
  padding-left: 24px;
  float: left;
  margin-top: 1px;
  display: block;
  height: 16px;
}

#earth_hour a#earth_hour_banner:hover {
  background-position: 3px -14px;
  color: #9fd2fb;
}

#earth_hour #inner a:hover {
  color: #9fd2fb;
}
