/* @override http://syndromex.me/wp-content/plugins/earth-hour/html/style.css */

body {
	background: #261a0b;
	color: #e3daa3;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font: 11px "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

#content {
	background: url(images/earth_hour_logo.gif) no-repeat center top;
	margin: 3% auto auto;
	padding-top: 425px;
}

h2 {
	color: #33a435;
	font-size: 1.3em;
	text-shadow: #003c20 -1px -1px 1px;
}

a {
	color: #ff7901;
	text-decoration: none;
}

a:hover {
	color: #a4d5ed;
}

#duane {
	padding-top: 70px;
	font-size: 1.1em;
}

p#dale, p#chloe {
	padding-top: 10px;
	line-height: 160%;
}
